<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        verify  captcha
    </h2>
    <form action="/user" method="post">
        
       <img src="/captcha.gif" width="100" height="50"><br><br>
        <input type="text" placeholder="Enter captcha" name="captcha"><br><br>

       <input type="submit">


    </form>
</body>
</html>
